body{
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
    color: white;
    font-size: 15px;
    background-color: black;
    letter-spacing: 0.05em;

}
h1 h2 h3 h4 h5 h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}
ul li {
    display: block;
}
.container {

    width: 1110px;
    margin: 0 auto;

}
.svgg{
    position: static;
    width: 37px;
    height: 37px;
    left: 0px;
    top: 0px;



/* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 7px;
}
.logo{
    height 37px;
    width: 37px;

}
header a {
    color: white;
}
.menu{
    display: flex;
    margin-left: auto;
}
.menu li a {

    text-decoration: none;

}

.menu li {
    margin: 0 50px;
}
.nav {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 71px;
}


.cards {

}


